
.contact-container{
    background-color: rgba(53, 53, 53, 0.089);
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: sans-serif;
}
.getintouch{
    padding: 30px 10px;
}

.contact-details{
    margin: 10px 20px;
}
.contact-placeholder{
    border: none;
    margin: 10px;
    text-align: center;
    padding: 10px 200px;
}
.contact-submit-button{
    padding: 10px 15px;
    border-radius: 8px; 
    cursor: pointer; 
    margin-left: 100px;
    margin-top: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
    transition-duration: 0.3s;
    transition: rgba(107, 107, 107, 0.301) 0.5 ease, transform 0.1 ease;
}
.contact-submit-button:hover{
    background-color: rgba(0, 0, 0, 0.705);
    color: white;
}
.contact-submit-button:active{
    transform: translate(3px);
    background-color: black;
}
