*{
  margin: 0px;
  padding: 0px;
}
/* ________________________________________Navbar_______________________________________ */
.nav{
  background-color: black;
  color: antiquewhite;
  text-align: center;
  padding: 15px 12px;
  display: flex;

#navbar{
  /* background-color: aqua; */
  margin-left: 32%;  
}  
}
#link{
  color: white;
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

/* ________________________________________Apple Logo_______________________________________ */
#al{
  height: 18px;
  width: 14px;
  padding-right: 10px;
}

#ahticorn{
  color: white;
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
}

#cartnavbar{
  text-align: end;
  font-family: 'Roboto', sans-serif;
  margin-left: 20%;
}

#cartlink{
  color: white;
}

#ahticornstore{
  border-top: 1px solid white;
  background-color: black;
  color: white;
  font-size: larger;
  text-align: center;
  font-family: sans-serif;
  padding-top: 15px;
}

.store-img{
  height: 100vh;
  width: 100vw;
}

#storebuttonbox{
  text-align: center;
  margin-top: -36%;
  margin-left: 2%;
}
#storebutton{
  color: rgb(41, 109, 236);
  font-family: sans-serif;
  text-decoration: none;
  font-size: larger;
  border: 2px solid rgb(41, 109, 236);
  padding: 4px 12px;
  border-radius: 40px;
}
#storebutton:hover{
  border: 2px solid rgb(41, 109, 236);
  color: white;
  background-color: rgb(41, 109, 236);
}


/* ________________________________________Google Login_______________________________________ */
.login-profile-image{
  /* border: 2px solid red; */
  border-radius: 20px;
}

.login-container{
  /* border: 2px solid blue; */
  height: 95vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(53, 53, 53, 0.089);
}
.login-box{
  /* border: 1px solid black; */
  text-align: center;
  padding: 20px 150px;
  background-color: white;
}
.login-box-text{
  margin-top: 15px;
}

.login-box-button{
  margin: 5px;
  margin-top: 15px;
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
}

#login-button{
  background-color: red;
  padding: 6px 15px;
  color: white;
  margin: 1px 8px;
  border: none;
  transition-duration: 0.3s;
  transition: 0.5 ease, transform 0.1 ease;
  cursor: pointer;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.623);
  border-radius: 2px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#login-button:hover{
  box-shadow: 1px 1px 8px black;
}
#login-button:active{
  transform: translate(2px);
}

#logout-button{
  background-color: black;
  color: white;
  padding: 5px 12px;
  margin: 5px;
  border: none;
  transition-duration: 0.3s;
  transition: 0.5 ease, transform 0.1 ease;
  cursor: pointer;
  box-shadow: 1px 1px 5px black;
  border-radius: 2px;
  margin-bottom: 50px;
}
#logout-button:hover{
  box-shadow: 1px 1px 8px black;
}
#logout-button:active{
  transform: translate(2px);
}